body{
    background:#1F2833;
    margin: 0%;
}
.heading{
    margin:0%;
    height: 100vh;
    z-index: -1;   
    text-align: center;
    vertical-align:middle;
}
.navigation{
    text-align: right;
    display:block;
}
.navigation .right_nav{
    margin: 0%;
    display: block;
}
.navigation .right_nav li{
    margin-left: 1%;
    margin-right: 1%;
    display: inline-block;
    text-decoration: none;
    color:#C5C6C7;
    font-family: 'Roboto', sans-serif;
    list-style: none;
}
.body1{
    display: block;
}
.title_of_page{
    padding: 2%;
    color:#66FCF1;
    font-family: 'Cinzel', serif;
    font-size:20vh;
    font-weight: 600;
    text-shadow: 2px 1px 2px #45A29E;
    display: block;
    animation: flicker 3s linear infinite;
}
.aboutus{
    display: inline-block;
    width:70%;
    font-size: 3vh;
    font-family: 'Roboto', sans-serif;
    line-height: 5vh;
    color:#C5C6C7;
}

@keyframes flicker {
	from { opacity: 1; } 
    92% { opacity: 0; }
	93% { opacity: 0.9; }
    94% { opacity: 0.2; }
    96% { opacity: 1; } 
	to { opacity: 1; }
}